<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

    <meta charset="utf-8" />
    <title>Register | Lab Appointment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-end"> <!-- Changed justify-content-start to justify-content-between and justify-content-lg-end -->
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a th:href="@{/index}" class="nav-link text-secondary">
                        <i class="bi d-block mx-auto mb-1 fas fa-home fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a th:href="@{/patient}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-user fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Register Patient
                    </a>
                </li>
                <li>
                    <a th:href="@{/appointment}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-calendar-check fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Make Appointment
                    </a>
                </li>
                <li>
                    <a th:href="@{/test}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-flask fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Test
                    </a>
                </li>
                <li>
                    <a th:href="@{/technician}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-user-md fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Technician
                    </a>
                </li>
                <li>
                    <a th:href="@{/test-report}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-file-alt fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Test Reports
                    </a>
                </li>
                <li>
                    <a th:href="@{/all-appointment}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-calendar-check fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Appointments
                    </a>
                </li>
                <li>
                    <a th:href="@{/users}" class="nav-link text-white">
                        <i class="bi d-block mx-auto mb-1 fas fa-user fa-lg" style="color: white; width: 24px; height: 24px;"></i>
                        Users
                    </a>
                </li>
            </ul>
            <button class="btn btn-outline-light d-flex align-items-center my-2 my-lg-0 ms-lg-auto">Logout</button>
        </div>
    </div>
</div>
<div class="my-5 pt-sm-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card border border-primary">
                    <div class="card-header bg-primary text-white">
                        Add new test
                    </div>
                    <div class="card-body">
                        <form th:action="@{/test/save}" method="post"  th:object="${test}">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name"
                                       th:field="*{testName}" placeholder="Enter lab test name">
                                <p th:errors="*{testName}" class="text-danger" th:if="${#fields.hasErrors('testName')}">
                                </p>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" name="description" id="description" cols="30" rows="2" placeholder="Description about test" th:field="*{description}"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="operator" class="form-label">Operator</label>
                                <select class="form-select" id="operator" name="operator" th:field="*{operatorId}">
                                    <option value="1">Imalka</option>
                                    <option value="2">Piumi</option>
                                </select>
                                <p th:errors="*{operatorId}" class="text-danger"
                                   th:if="${#fields.hasErrors('operatorId')}">
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="amount" class="form-label">Amount</label>
                                        <input type="number" class="form-control" name="amount" id="amount"
                                               th:field="*{amount}" placeholder="0.00">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Status</label>
                                        <select class="form-select" id="status" name="status" th:field="*{status}">
                                            <option value="1">Availble</option>
                                            <option value="0">Not Available</option>
                                        </select>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary col-4" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body" style="max-height: 600px; overflow-y: auto;">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Test</th>
                                <th>Operator</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="test: ${tests}">
                                <td th:text="${test.id}"></td>
                                <td>
                                    <span th:text="${test.testName}"></span> <br>
                                    <small th:text="${test.description}"></small>
                                </td>
                                <td th:text="${test.operatorId}"></td>
                                <td th:text="${test.amount}"></td>
                                <td th:text="${test.status}"></td>
                                <td>
                                    <a href="" class="btn btn-sm btn-primary d-inline">Edit</a>
                                    <button type="submit" class="my-2 btn btn-sm btn-danger d-inline">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-3 mt-3 bg-dark">
    <div class="container px-3"><p class="m-0 text-center text-white">Copyright © <span th:text="${#dates.year(#dates.createNow())}"></span> ABC Labarotories. All rights reserved.</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>

</html>
